<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- BootstrapのCSS読み込み -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../../js/bootstrap.min.js"></script>

<title>情報の表示</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
<header>
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <a href="ex01.html" class="navbar-brand px-5">特定日付の記録の表示</a>
  <button class="navbar-toggler" type="button"
      data-toggle="collapse"
      data-target="#navmenu1"
      aria-controls="navmenu1"
      aria-expanded="false"
      aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end py-2 px-5" id="navmenu1">
    <div class="navbar-nav">
      
      <a class="nav-item nav-link" href="../../record/ingredient.html">具材検索と記録</a>
      
      <a class="nav-item nav-link" href="../../record/recipe.html">レシピ検索と記録</a>
      <a class="nav-item nav-link" href="../../record/sort/nutrium_sort.html">栄養素別検索</a>
      <a class="nav-item nav-link" href="../../record/record.html">レシピの記録の表示</a>

    </div>
  </div>
</nav>
</header>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
<script src="form_submit2.js"></script>

<form action="last_nutrium_calc.php" method="POST" id="calc">
        <input type="date" name="date" placeholder="2021-01-01">計算する日付<br>
        <button type="submit" class="btn btn-primary" name="submit">送信</button>
</form>

<div id="result"></div>
		
<div class = "box" id = "makeImg">
		<div id="result2"></div>
		<div id="result3"></div>
		<div id="result4"></div>
		<div id="result5"></div>
		<div id="result6"></div>
		<div id="result7"></div>
		<div id="result8"></div>
                <div id="result9"></div>
		<div id="result10"></div>

                <div id="result11"></div>
		<div id="result12"></div>

		<div id="result13"></div>
		<div id="result14"></div>
		<div id="result15"></div>
		<div id="result16"></div>
		<div id="result17"></div>
		<div id="result18"></div>
		<div id="result19"></div>
                <div id="result20"></div>
                <div id="result21"></div>
		<div id="result22"></div>
		<div id="result23"></div>
		<div id="result24"></div>
		<div id="result25"></div>
		<div id="result26"></div>
		<div id="result27"></div>
</div>


<hr>
<!-- <div id="debug"></div> -->
</div>
</body>
</html>
